<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="overview-wrap">
                    <h2 class="title-1">Estadística General</h2>
                </div>
            </div>
        </div>
        <div class="row m-t-25">
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                        <div class="overview-box clearfix text-center">
                            <div class="icon col-12">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                            <div class="text">
                                <h2>{{userTotal}}</h2>
                                <span>Usuarios</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c2">
                    <div class="overview__inner">
                        <div class="overview-box clearfix text-center">
                            <div class="icon col-12">
                                <i class="zmdi zmdi-book"></i>
                            </div>
                            <div class="text">
                                <h2>{{bookTotal}}</h2>
                                <span>Libros</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c3">
                    <div class="overview__inner">
                        <div class="overview-box clearfix text-center">
                            <div class="icon col-12">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </div>
                            <div class="text">
                                <h2>{{loansMonth}}</h2>
                                <span>Prestamos/mes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c4">
                    <div class="overview__inner">
                        <div class="overview-box clearfix text-center">
                            <div class="icon col-12">
                                <i class="zmdi zmdi-collection-bookmark"></i>
                            </div>
                            <div class="text">
                                <h2>{{loansYear}}</h2>
                                <span>Prestamos/año</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                userTotal: 0,
                bookTotal: 0,
                loansMonth: 0,
                loansYear: 0,
                token: null,
            }
        },
        methods: {
            getTotalUsers() {
                let me = this;
                axios.get('api/users/total?api_token=' + me.token).then(response => {
                    me.userTotal = response.data;
                }).catch(error => {
                    console.log(error);
                })
            },
            getTotalBooks() {
                let me = this;
                axios.get('api/books/total?api_token=' + me.token).then(response => {
                    me.bookTotal = response.data;
                }).catch(error => {
                    console.log(error);
                })
            },
            getLoanLastMonth(){
                let me = this;
                axios.get('api/loans/loadLastMonth?api_token=' + me.token).then(response =>{
                    me.loansMonth = response.data;
                }).catch(error => {
                   console.log(error);
                });
            },
            getLoanLastYear(){
                let me = this;
                axios.get('api/loans/loadLastYear?api_token=' + me.token).then(response =>{
                    me.loansYear = response.data;
                }).catch(error => {
                   console.log(error);
                });
            },
            getToken() {
                let me = this;
                axios.get('home/api').then(response => {
                    if (response.data.token !== false) {
                        me.token = response.data.token;
                        me.getTotalUsers();
                        me.getTotalBooks();
                        me.getLoanLastMonth();
                        me.getLoanLastYear();
                    }
                }).catch(errors => {
                    console.log(errors);
                })
            }
        },
        mounted() {
            this.getToken();
        }
    }
</script>