<template>
    <div class="row">
        <!-- detalle elemento-->
        <div class="col-12" v-if="statusShow">
            <div class="card text-black-50">
                <div class="card-header">
                    <div class="card-title">
                        <h3><i class="fa fa-bookmark mr-2"></i>Detalle prestamo</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="shadow p-4 my-4">
                        <p class=""><strong>Usuario: </strong></p>
                        <p>{{modelLoan.user.name}}</p>
                    </div>
                    <div class="shadow p-4 my-4">
                        <p class="h5"><strong>Libro: </strong></p>
                        <p>{{modelLoan.book.name}}</p>
                    </div>
                    <div class="shadow p-4 my-4">
                        <p class="h5"><strong>Fecha prestamo: </strong></p>
                        <p>{{modelLoan.start_date}}</p>
                    </div>
                    <div class="shadow p-4 my-4">
                        <p class="h5"><strong>Fecha fin prestamo: </strong></p>
                        <p>{{modelLoan.end_date}}</p>
                    </div>
                    <div class="my-5 text-center text-lg-right">
                        <button class="btn btn-default" @click="show(modelLoan)"><i class="fa fa-times mr-2"></i>Cerrar
                        </button>
                        <button class="btn btn-primary" @click="edit(modelLoan)"><i class="fa fa-edit mr-2"></i>Editar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end detalle elemento-->

        <!--formulario Registrar - Actualizar-->
        <div class="col-12" v-if="statusForm">
            <form v-on:submit.prevent="">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3><i class="fa fa-file mr-2"></i>{{statusUpdate === true ? 'Actualizar prestamo' : 'Nuevo prestamo'}}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="form-group">
                                    <label for="user">Usuario (<i class="fa fa-asterisk"></i>)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <select id="user"
                                                class="form-control"
                                                name="user"
                                                v-model="modelLoan.user_id"
                                                v-validate="'required'">
                                            <option v-for="item in listUsers" v-bind:value="item.id">{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <span id="user-error" class="mt-1 text-danger">{{ errors.first('user') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="form-group">
                                    <label for="book">Libro (<i class="fa fa-asterisk"></i>)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-book"></i>
                                        </div>
                                        <select id="book"
                                                class="form-control"
                                                name="book"
                                                v-model="modelLoan.book_id"
                                                v-validate="'required'">
                                            <option v-for="item in listBooks" v-bind:value="item.id">{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <span id="book-error" class="mt-1 text-danger">{{ errors.first('book') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="form-group">
                                    <label for="start-date">Fecha de inicio (<i class="fa fa-asterisk"></i>)</label>
                                    <datetime name="start-date" v-model="modelLoan.start_date"
                                              title="Fecha de publicación"
                                              class="form-control"
                                              v-validate="'required'"></datetime>
                                    <span id="start-date-error" class="mt-1 text-danger">{{ errors.first('start-date') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label for="end-date">Fecha fin (<i
                                                class="fa fa-asterisk"></i>)</label>
                                        <div class="input-group">
                                            <datetime input-id="end-date" name="end-date" v-model="modelLoan.end_date"
                                                      title="Fecha de publicación"
                                                      class="form-control"
                                                      v-validate="'required'"></datetime>
                                        </div>
                                        <span id="end-date-error" class="mt-1 text-danger">{{ errors.first('end-date') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="text-center text-lg-right">
                                    <button class="btn btn-default my-2" type="button" @click="create"><i
                                            class="fa fa-times mr-2"></i>Cancelar
                                    </button>
                                    <button class="btn btn-primary my-2" type="submit" v-if="statusUpdate === true"
                                            @click="update"><i class="fa fa-save mr-2"></i>Actualizar
                                    </button>
                                    <button class="btn btn-primary my-2" type="submit" v-if="statusUpdate === false"
                                            @click="store"><i class="fa fa-save mr-2"></i>Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- end formulario Registrar - Actualizar-->

        <!-- listado - tabla-->
        <div class="col-md-12" v-if="statusList">
            <!-- DATA TABLE -->
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-left">
                                <h3 class="text-uppercase"><i class="fa fa-archive mr-2"></i>Prestamos</h3>
                            </div>
                            <div class="col-12 col-sm-6 text-center text-sm-left">
                                <div class="float-sm-right ">
                                    <button class="mt-4 au-btn au-btn-icon au-btn--green au-btn--small"
                                            @click="create">
                                        <i class="fa fa-plus-circle mr-2"></i>Nuevo prestamo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="float-lg-right">
                        <form class="form-header" v-on:submit.prevent="">
                            <input class="au-input au-input--xl" type="text" name="search"
                                   placeholder="Buscar..." v-model="search"/>
                            <button class="au-btn--submit" type="submit" :disabled="!search" @click="searchData">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                            <button class="au-btn--submit" type="button" v-if="search" @click="index">
                                <i class="zmdi zmdi-brush"></i>
                            </button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-data2">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Usuario</th>
                                <th>Libro</th>
                                <th>Fecha prestamo</th>
                                <th>Fecha fin</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in listLoans.data" :key="item.id">
                                <td>{{index + 1}}</td>
                                <td>{{item.user.name}}</td>
                                <td>{{item.book.name}}</td>
                                <td>{{item.start_date}}</td>
                                <td>{{item.end_date}}</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ver más"
                                                @click="show(item)">
                                            <i class="zmdi zmdi-eye"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Editar"
                                                @click="edit(item)">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Eliminar"
                                                @click="destroy(item)">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <pagination :data="listLoans" @pagination-change-page="index"></pagination>
                </div>
            </div>
            <!-- END DATA TABLE -->
        </div>
        <!-- end listado - tabla-->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                //Objeto que obtiene una lista de datos del servidor hacia el cliente
                listLoans: {},
                //Objeto que obtiene una lista de datos del servidor hacia el cliente
                listUsers: {},
                //Objeto que obtiene una lista de datos del servidor hacia el cliente
                listBooks: {},
                //Objeto que enlaza datos cliente a servidor
                modelLoan: {},
                //false: el formulario dibuja boton guardar, true: el formarulario dibuja el boton actualizar
                statusUpdate: false,
                //default true: muesta el listado de datos
                statusList: true,
                //default false, en true: muesta el formulario para registrar o actualizar
                statusForm: false,
                //default false, en true: muesta el detalle de un elemento
                statusShow: false,
                //item para busqueda
                search: null,
                token: null,
            };
        },
        methods: {
            clearInput() {
                this.statusShow = false;
                this.statusUpdate = false;
                this.modelLoan.id = null;
                this.modelLoan.user_id = null;
                this.modelLoan.book_id = null;
                this.modelLoan.start_date = null;
                this.modelLoan.end_date = null;
            },
            create() {
                let me = this;
                me.statusShow = false;
                me.viewList();
                me.viewForm();
                me.clearInput();
                me.books();
                me.users();
            },
            books() {
                let me = this;
                axios.get('api/books/names?api_token=' + this.token).then(response => {
                    me.listBooks = response.data;
                }).catch(error => {
                    me.$toastr.error('Consultar con el admin', 'Error');
                    console.log(error);
                });
            },
            users() {
                let me = this;
                axios.get('api/users/names?api_token=' + this.token).then(response => {
                    me.listUsers = response.data;
                }).catch(error => {
                    me.$toastr.error('Consultar con el admin', 'Error');
                    console.log(error);
                });
            },
            destroy(loan) {
                let me = this;
                me.$swal({
                    title: 'Prestamo',
                    html: "¿Esta seguro de eliminar el prestamo <strong>" + loan.name + "</strong>?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#AEAFAF',
                    confirmButtonText: 'Eliminar',
                    cancelButtonText: 'Cancelar',
                }).then(function (result) {
                    if (result.value === true) {
                        axios.delete('api/loans/destroy?api_token=' + me.token + "&id=" + loan.id).then(response => {
                            if (response.data.status === true) {
                                me.index();
                                me.$toastr.success('Categoría eliminada', 'Categoría');
                            } else {
                                me.$toastr.error('Consultar con el admin', 'Error');
                            }
                        }).catch(error => {
                            me.$toastr.error('Consultar con el admin', 'Error');
                            console.log(error);
                        });
                    }
                }).catch(me.$swal.noop);
            },
            edit(loan) {
                this.viewForm();
                this.users();
                this.books();
                this.statusUpdate = true;
                this.statusShow = false;
                this.statusList = false;
                this.modelLoan.id = loan.id;
                this.modelLoan.user_id = loan.user.id;
                this.modelLoan.book_id = loan.book.id;
                this.modelLoan.start_date = new Date(loan.start_date).toISOString();
                this.modelLoan.end_date = new Date(loan.end_date).toISOString();
            },
            show(loan) {
                let me = this;
                me.viewShow();
                me.viewList();
                me.modelLoan.id = loan.id;
                me.modelLoan.user = loan.user;
                me.modelLoan.book = loan.book;
                me.modelLoan.start_date = loan.start_date;
                me.modelLoan.end_date = loan.end_date;
            },
            searchData() {
                let me = this;
                axios.get('api/loans/search?value=' + this.search + '&api_token=' + me.token).then(response => {
                    me.listLoans = response;
                }).catch(error => {
                    console.log(error);
                })
            },
            store() {
                let me = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post('api/loans/store?api_token=' + me.token, me.modelLoan).then(response => {
                            //No pasan validaciones en el servidor
                            if (response.data.errors) {
                                me.$toastr.warning('Completa las validaciones', 'Validar campos');
                                $('#user-error').html(response.data.errors.user_id ? response.data.errors.user_id : "");
                                $('#book-error').html(response.data.errors.book_id ? response.data.errors.book_id : "");
                                $('#start-date-error').html(response.data.errors.start_date ? response.data.errors.start_date : "");
                                $('#start-date-error').html(response.data.errors.end_date ? response.data.errors.end_date : "");
                            } else {
                                if (response.data.status === true) {
                                    me.clearInput();
                                    me.index();
                                    me.viewList();
                                    me.viewForm();
                                    me.$toastr.success('Nuevo prestamo registrado', 'Prestamos');
                                } else {
                                    me.$toastr.error('Consultar con el admin', 'Error');
                                }
                            }

                        }).catch(error => {
                            me.$toastr.error('Consultar con el admin', 'Error');
                            console.log(error);
                        })
                    } else {
                        me.$toastr.warning('Completa las validaciones', 'Validar campos');
                    }
                });
            },
            update() {
                let me = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.put('api/loans/update?api_token=' + me.token, me.modelLoan).then(response => {
                            //No pasan validaciones en el servidor
                            if (response.data.errors) {
                                me.$toastr.warning('Completa las validaciones', 'Validar campos');
                                $('#user-error').html(response.data.errors.name ? response.data.errors.name : "");
                                $('#book-error').html(response.data.errors.description ? response.data.errors.description : "");
                                $('#start-date-error').html(response.data.errors.start_date ? response.data.errors.start_date : "");
                                $('#start-date-error').html(response.data.errors.end_date ? response.data.errors.end_date : "");
                            } else {
                                if (response.data.status === true) {
                                    me.index();
                                    me.viewForm();
                                    me.viewList();
                                    me.clearInput();
                                    me.$toastr.success('Prestamo actualizado', 'Prestamos');
                                } else {
                                    me.$toastr.error('Consultar con el admin', 'Error');
                                }
                            }
                        }).catch(error => {
                            me.$toastr.error('Consultar con el admin', 'Error');
                            console.log(error);
                        })
                    } else {
                        me.$toastr.warning('Completa las validaciones', 'Validar campos');
                    }
                });
            },
            getToken() {
                let me = this;
                axios.get('home/api').then(response => {
                    if (response.data.token !== false) {
                        me.token = response.data.token;
                        this.index();
                    }
                }).catch(errors => {
                    console.log(errors);
                })
            },
            index(page = 1) {
                let me = this;
                axios.get('api/loans/index?page=' + page + '&api_token=' + me.token).then(response => {
                    me.listLoans = response.data;
                }).catch(errors => {
                    me.$toastr.error('Consultar con el admin', 'Error');
                    console.log(errors)
                });
            },

            //------------- METODOS VISTAS -------------
            // Metodos para mostrar/ocultar vistas, cambian une estado de verdadero o falso
            // permitiendo ocultar u ocultar vistas
            viewShow() {
                this.statusShow = !this.statusShow;
            },
            viewList() {
                this.statusList = !this.statusList;
            },
            viewForm() {
                this.statusForm = !this.statusForm;
            },
        },
        mounted() {
            this.getToken();
        }
    }
</script>