<template>
    <div class="row">


        <!-- detalle elemento-->
        <div class="col-12" v-if="statusShow">
            <div class="card text-black-50">
                <div class="card-header">
                    <div class="card-title">
                        <h3><i class="fa fa-bookmark mr-2"></i>Detalle usuario</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="shadow p-4 my-4">
                        <p class=""><strong>Nombre: </strong></p>
                        <p>{{modelUser.name}}</p>
                    </div>
                    <div class="shadow p-4 my-4">
                        <p class="h5"><strong>Email: </strong></p>
                        <p>{{modelUser.email}}</p>
                    </div>
                    <div class="shadow p-4 my-4">
                        <p class="h5"><strong>Fecha creación: </strong></p>
                        <p>{{modelUser.created_at}}</p>
                    </div>
                    <div class="shadow p-4 my-4">
                        <p class="h5"><strong>Fecha actualización: </strong></p>
                        <p>{{modelUser.updated_at}}</p>
                    </div>
                    <div class="my-5 text-center text-lg-right">
                        <button class="btn btn-default" @click="show(modelUser)"><i class="fa fa-times mr-2"></i>Cerrar</button>
                        <button class="btn btn-primary" @click="edit(modelUser)"><i class="fa fa-edit mr-2"></i>Editar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end detalle elemento-->

        <!--formulario registrar - actualizar-->
        <div class="col-12" v-if="statusForm">
            <form v-on:submit.prevent="">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3><i class="fa fa-user mr-2"></i>{{statusUpdate === true ? 'Actualizar Usuario' : 'Nuevo usuario'}}</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="form-group">
                                    <label for="name">Nombre (<i class="fa fa-asterisk"></i>)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input id="name"
                                               class="form-control"
                                               name="name"
                                               type="text"
                                               minlength="4"
                                               maxlength="120"
                                               placeholder="Ej. Huzzidiel Harrison"
                                               v-model="modelUser.name"
                                               v-validate="'required|alpha_spaces|min:2|max:120'">
                                    </div>
                                    <span class="mt-1 text-danger">{{ errors.first('name') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="form-group">
                                    <label for="email">Correo (<i class="fa fa-asterisk"></i>)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <input id="email"
                                               class="form-control"
                                               name="email"
                                               type="email"
                                               required
                                               minlength="4"
                                               maxlength="120"
                                               placeholder="Ej example@domain.com"
                                               v-model="modelUser.email"
                                               v-validate="'required|email|min:4|max:120'">
                                    </div>
                                    <span class="mt-1 text-danger">{{ errors.first('email') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-8 offset-lg-2">
                                <div class="text-center text-lg-right">
                                    <button class="btn btn-default my-2" type="button" @click="create"><i class="fa fa-times mr-2" ></i>Cancelar</button>
                                    <button class="btn btn-primary my-2" type="submit" v-if="statusUpdate === true"
                                            @click="update"><i class="fa fa-save mr-2"></i>Actualizar
                                    </button>
                                    <button class="btn btn-primary my-2" type="submit" v-if="statusUpdate === false"
                                            @click="store"><i class="fa fa-save mr-2"></i>Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--formulario registrar - actualizar-->

        <!-- listado - tabla-->
        <div class="col-md-12" v-if="statusList">
            <!-- DATA TABLE -->
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-12 col-sm-6 text-center text-sm-left">
                                <h3 class="text-uppercase"><i class="fa fa-user mr-2"></i>Usuarios</h3>
                            </div>

                            <div class="col-12 col-sm-6 text-center text-sm-left">
                                <div class="float-sm-right ">
                                    <button class="mt-4 au-btn au-btn-icon au-btn--green au-btn--small" @click="create">
                                        <i class="fa fa-plus-circle mr-2"></i>Nuevo usuario
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="float-lg-right">
                        <form class="form-header" v-on:submit.prevent="">
                            <input class="au-input au-input--xl" type="text" name="search"
                                   placeholder="Buscar..." v-model="search"/>
                            <button class="au-btn--submit" type="submit" :disabled="!search" @click="searchData">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                            <button class="au-btn--submit" type="button" v-if="search" @click="index">
                                <i class="zmdi zmdi-brush"></i>
                            </button>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-data2">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Email</th>
                                <th>Fecha creación</th>
                                <th>Fecha actualización</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in listUsers.data" :key="item.id">
                                <td>{{index + 1}}</td>
                                <td><a href="#" @click="show(item)">{{item.name}}</a></td>
                                <td>{{item.email}}</td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.updated_at}}</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Ver más"
                                                @click="show(item)">
                                            <i class="zmdi zmdi-eye"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Editar"
                                                @click="edit(item)">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Eliminar"
                                                @click="destroy(item)">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <pagination :data="listUsers" @pagination-change-page="index"></pagination>
                </div>
            </div>
            <!-- END DATA TABLE -->
        </div>
        <!-- end listado - tabla-->
    </div>
</template>

<script>
    export default {
        data(){
            return {
                //Objeto que obtiene una lista de datos del servidor hacia el cliente
                listUsers: {},
                //Objeto que enlaza datos cliente a servidor
                modelUser: {},
                //false: el formulario dibuja boton guardar, true: el formarulario dibuja el boton actualizar
                statusUpdate: false,
                //default true: muesta el listado de datos
                statusList: true,
                //default false, en true: muesta el formulario para registrar o actualizar
                statusForm: false,
                //default false, en true: muesta el detalle de un elemento
                statusShow: false,
                //item para busqueda
                search: null,
                token: null,
            }
        },
        methods:{
            clearInput() {
                this.statusShow = false;
                this.statusUpdate = false;
                this.modelUser.id = null;
                this.modelUser.name = null;
                this.modelUser.email = null;
            },
            create(){
                let me = this;
                me.statusShow = false;
                me.viewList();
                me.viewForm();
                me.clearInput();
            },
            edit(user) {
                this.viewForm();
                this.statusUpdate = true;
                this.statusShow = false;
                this.statusList = false;
                this.modelUser.id = user.id;
                this.modelUser.name = user.name;
                this.modelUser.email = user.email;

            },
            index(page = 1) {
                let me = this;
                axios.get('api/users/index?api_token=' + me.token + "&page="+ page).then(response => {
                    me.listUsers = response.data;
                }).catch(errors => {
                    me.$toastr.error('Consultar con el admin', 'Error');
                    console.log(errors)
                });
            },
            show(user) {
                let me = this;
                me.viewShow();
                me.viewList();
                me.modelUser.id = user.id;
                me.modelUser.name = user.name;
                me.modelUser.email = user.email;
                this.modelUser.created_at = user.created_at;
                this.modelUser.updated_at = user.updated_at;
            },
            searchData(){
                let me = this;
                axios.get('api/users/search?value=' + this.search + '&api_token=' + me.token).then(response => {
                    me.listUsers = response;
                }).catch(error => {
                    console.log(error);
                })
            },
            store() {
                let me = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.post('api/users/store?api_token=' + me.token, me.modelUser).then(response => {
                            if (response.data.errors) {
                                me.$toastr.warning('Completa las validaciones', 'Validar campos');
                                $('#name-error').html(response.data.errors.name ? response.data.errors.name : "");
                                $('#email-error').html(response.data.errors.email ? response.data.errors.email : "");
                            } else {
                                me.clearInput();
                                me.index();
                                me.viewList();
                                me.viewForm();
                                me.$toastr.success('Nuevo usuario registrado', 'User');
                            }
                        }).catch(error => {
                            me.$toastr.error('Consultar con el admin', 'Error');
                            console.log(error);
                        })
                    } else {
                        me.$toastr.warning('Completa las validaciones', 'Validar campos');
                    }
                });
            },
            update() {
                let me = this;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        axios.put('api/users/update?api_token=' + me.token, me.modelUser).then(response => {
                            //No pasan validaciones en el servidor
                            if (response.data.errors) {
                                me.$toastr.warning('Completa las validaciones', 'Validar campos');
                                $('#name-error').html(response.data.errors.name ? response.data.errors.name : "");
                                $('#description-error').html(response.data.errors.email ? response.data.errors.email : "");
                            } else {
                                me.index();
                                me.viewForm();
                                me.viewList();
                                me.clearInput();
                                me.$toastr.success('Usuario actualizado', 'Usuario');
                            }
                        }).catch(error => {
                            me.$toastr.error('Consultar con el admin', 'Error');
                            console.log(error);
                        })
                    } else {
                        me.$toastr.warning('Completa las validaciones', 'Validar campos');
                    }
                });
            },
            destroy(user) {
                let me = this;
                me.$swal({
                    title: 'Usuarios',
                    html: "¿Esta seguro de eliminar el usuario <strong>" + user.name + "</strong>?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#AEAFAF',
                    confirmButtonText: 'Eliminar',
                    cancelButtonText: 'Cancelar',
                }).then(function (result) {
                    if (result.value === true) {
                        axios.delete('api/users/destroy?api_token=' + me.token+ "&id="+ user.id).then(response => {
                            if (response.data.status === true) {
                                me.index();
                                me.$toastr.success('Usuario eliminado', 'Libros');
                            } else {
                                me.$toastr.error('Consultar con el admin', 'Error');
                            }
                        }).catch(error => {
                            me.$toastr.error('Consultar con el admin', 'Error');
                            console.log(error);
                        })
                    }
                }).catch(me.$swal.noop);
            },
            getToken() {
                let me = this;
                axios.get('home/api').then(response => {
                    if (response.data.token !== false) {
                        me.token = response.data.token;
                        this.index();
                    }
                }).catch(errors => {
                    console.log(errors);
                })
            },

            //------------- METODOS VISTAS -------------
            // Metodos para mostrar/ocultar vistas, cambian une estado de verdadero o falso
            // permitiendo ocultar u ocultar vistas
            viewShow(){
                this.statusShow = !this.statusShow;
            },
            viewList(){
                this.statusList = !this.statusList;
            },
            viewForm(){
                this.statusForm = !this.statusForm;
            },
        }
        ,
        mounted() {
            this.getToken();
        }
    }
</script>